$color1: #1e1e1e;
$color2: rgb(71, 169, 215);
$color3: #023047;
$color4: #ffb703;
$color5: #fb8500;

body {
  background-color: $color1;
  font-family: 'Comfortaa', cursive;
}
.gameWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // margin-top: 100px;
}
.contentBox {
  //   display: flex;

  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: auto;
  width: 1300px;
  h1 {
    font-size: 60px;
    // margin-left: 230px;
  }
  h3 {
    font-size: 30px;
  }
}
input {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  margin: auto;
}
.gameContent {
  flex: 1;
  color: white;
  border: #ef2d64 solid 8px;
  margin: auto;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}
.lyrics {
  height: 500px;
  width: 500px;
  margin: auto;
  p {
    font-size: 25px;
    line-height: 1.6;
  }
}

// .buttons{
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     height: 40vh;
//     background-color: #8ECAE6;
// }

button {
  background-color: #1e1e1e;
  color: white;
  text-decoration: none;
  border: 3px darken($color1, 50%);
  border-radius: 27px;
  // padding: 20px;
  margin: 10px;
  font-size: 16px;
  height: 50px;
  width: 180px;
  font-family: 'Comfortaa', cursive;
}

button:hover {
  cursor: pointer;
  background-color: rgb(235, 37, 91);
}

.buttons:visited {
  text-decoration: none;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imagecontainer {
  display: flex;
  justify-content: space-between;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 20px;
    padding-left: 20px;
  }
}

input {
  border: none;
}

// Display player
.display-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.player-name {
  font-weight: bold;
}

.player-score {
  font-weight: normal;
}
.leaderboard {
  flex: 20% 0 0;
  // background-color: white;
  border: 4px solid #ef2d64;
  height: 630px;
  border-radius: 10px;
  margin-right: 2rem;
}

.inputboard {
  flex: 20% 0 0;
  // background-color: white;
  border: 4px solid #ef2d64;
  height: 630px;
  border-radius: 10px;
  overflow: auto;
  margin-left: 2rem;
}

.logo {
  // margin-right: 80px;
}
input[type='text'] {
  font-size: 40px;
  padding-left: 15px;
}

.guessesBox {
  height: 100px;
}
.guesses {
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
  margin-top: 7px;

  // padding: 0.5rem;
}
#guess-text {
  margin-left: 10px;
}

#guess-name {
  font-weight: bold;
}

.inside {
  background-color: black;
}
